html body {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #E5E5E5
}
///////
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.wrapper{
 position: relative;
width: 375px;
height: 5766px;


}

.container-presentation{
  position: absolute;
// width: 1516px;
// height: 731px;
// left: 0px;
// top: 96px;

}

.container-presentation-text{
  h2{

position: absolute;
// width: 576px;
// height: 83px;
left: 773px;
top: 5px;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 39px;
line-height: 83px;
/* identical to box height */

display: flex;
align-items: center;

  }
  p{


position: absolute;
width: 300px;
// height: 144px;
left: 0px;
top: 115px;
margin: 20px;


color: #000000;

  }

  li{
    position: absolute;
width: 648px;
height: 48px;
left: 780px;
top: 417px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 135.2%;
/* or 24px */

display: flex;
align-items: center;

color: #000000;
  }
  h1{

position: absolute;
width: 648px;
height: 46px;
left: 972px;
top: 492px;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 135.2%;

display: flex;
align-items: center;

color: #000000;

  }
}

.img1{

  position: absolute;
width: 166px;
height: 166px;
left: 500px;
top: 390px;

filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 0px 0px 90px 0px;

}

.img2{
  position: absolute;
width: 142px;
height: 142px;
left: 34px;
top: 527px;

filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 0px 0px 0px 90px;

}

.img3{

position: absolute;
width: 106px;
height: 106px;
left: 428px;
top: 92px;

filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 0px 50px 0px 0px;

}

.img4{
  position: absolute;
width: 130px;
height: 130px;
left: 298px;
top: 462px;


filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 0px 0px 60px 0px;

}

.img5{

  position: absolute;
width: 76px;
height: 76px;
left: 288px;
top: 126px;

filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 24px;

}

.img6{
  position: absolute;
width: 114px;
height: 114px;
left: 140px;
top: 370px;
filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 0px 0px 0px 50px;

}

.img7{
  position: absolute;
width: 182px;
height: 182px;
left: 288px;
top: 236px;

filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 0px 100px 0px 0px;

}

.img8{
  position: absolute;
width: 220px;
height: 220px;
left: 34px;
top: 92px;

filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 100px 0px 0px 0px;

}

//// container-propos ///

.container-propos{
position: absolute;
width: 1520px;
height: 720px;
left: 0px;
top: 858px;

background: #F4F4F4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

flex: none;
order: 2;
flex-grow: 0;
margin: 0px 0px;
background-color: blue;

}

.img10{
  position: absolute;
width: 568px;
height: 423px;
left: 837px;
top: 69px;
}

.container-propos-title{
   position: absolute;
    width: auto;
    height: 83px;
    left: 98px;
    top: 103px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 83px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
    }
.container-propos-subtitle{
  position: absolute;
  width: 733px;
  height: 240px;
  left: 98px;
  top: 217px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 135.2%;
  /* or 24px */

  display: flex;
  align-items: center;

  color: #000000;


    }

//// container-video ///

.container-video{
position: absolute;
width: 1520px;
height: 672.4px;
left: 0px;
top: 1578px;

background: #F4F4F4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

flex: none;
order: 2;
flex-grow: 0;
margin: 0px 0px;
background-color: yellow;

}

.img10{
  position: absolute;
width: 568px;
height: 423px;
left: 837px;
top: 69px;
}

.container-video-title{
   position: absolute;
    width: 367px;
    height: 83px;
    left: 98px;
    top: 103px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 83px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
    }
.container-video-subtitle{
  position: absolute;
  width: 733px;
  height: 240px;
  left: 98px;
  top: 217px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 135.2%;
  /* or 24px */

  display: flex;
  align-items: center;

  color: #000000;


    }


@media only screen and (max-width: 480px) {

  .wrapper{
    display: list-item;
    grid-template-columns: 1fr;
    grid-column: auto;
  }

   .container-presentation {
    display: list-item;
    grid-template-columns: 1fr;
    grid-column: auto;
  }

  .container-presentation-text {
    position: absolute;
    width: 375px;
    height: 340px;
    left: 0px;
    top: 70px;
  }
.container-presentation-text p {
    position: absolute;
    display: list-item;
    width: 375px;
    height: 340px;
    left: 0px;
    top: 70px;
  }

  .container-presentation-text h2 {
    position: absolute;
    width: 375px;
    height: 340px;
    left: 0px;
    top: 70px;
  }

  .container-presentation-text h1 {
    position: absolute;
    width: 375px;
    height: 340px;
    left: 0px;
    top: 70px;
  }
    ///

 .container-presentation-img{
  position: absolute;
width: 307px;
height: 351px;
left: 31px;
top: 471px;
  }
 ///// img



.container-presentation-img.img2{
  position: absolute;
width: 142px;
height: 142px;
left: 34px;
top: 527px;

filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 0px 0px 0px 90px;

}

.container-presentation-img .img3{

position: none;
width: 106px;
height: 106px;
left: 428px;
top: 92px;

filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 0px 50px 0px 0px;

}

.img4{
  position: absolute;
width: 130px;
height: 130px;
left: 237px;
top: 462px;


filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 0px 0px 60px 0px;

}

.img5{

  position: absolute;
width: 76px;
height: 76px;
left: 288px;
top: 126px;

filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 24px;

}

.img6{
  position: absolute;
width: 100px;
height: 100px;
left: 100px;
top: 370px;
filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 0px 0px 0px 50px;

}

.img7{
  position: absolute;
width: 150px;
height: 150px;
left: 220px;
top: 236px;

filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 0px 100px 0px 0px;

}

.img8{
  position: absolute;
width: 150px;
height: 150px;
left: 34px;
top: 92px;

filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 100px 0px 0px 0px;

}



}
