html body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #E5E5E5
}
///////
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.wrapper{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px;

position: relative;
width: 1940px;
height: 3609.43px;

}

.container-presentation{
  position: absolute;
width: 1916px;
height: 731px;
left: 0px;
top: 96px;

}

.container-presentation-text{
  h2{

position: absolute;
width: 576px;
height: 83px;
left: 973px;
top: 115px;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 83px;
/* identical to box height */

display: flex;
align-items: center;

  }
  p{

position: absolute;
width: 648px;
height: 144px;
left: 973px;
top: 195px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 135.2%;
/* or 24px */

display: flex;
align-items: center;

color: #000000;

  }

  li{
    position: absolute;
width: 648px;
height: 48px;
left: 980px;
top: 417px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 135.2%;
/* or 24px */

display: flex;
align-items: center;

color: #000000;
  }
  h1{

position: absolute;
width: 648px;
height: 46px;
left: 973px;
top: 492px;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 135.2%;
/* identical to box height, or 46px */

display: flex;
align-items: center;

color: #000000;

  }
}




.img1{

  position: absolute;
width: 166px;
height: 166px;
left: 600px;
top: 390px;

filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 0px 0px 90px 0px;

}

.img2{
  position: absolute;
width: 142px;
height: 142px;
left: 134px;
top: 527px;

filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 0px 0px 0px 90px;

}

.img3{

position: absolute;
width: 106px;
height: 106px;
left: 528px;
top: 92px;

filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 0px 50px 0px 0px;

}

.img4{
  position: absolute;
width: 130px;
height: 130px;
left: 398px;
top: 462px;


filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 0px 0px 60px 0px;

}

.img5{

  position: absolute;
width: 76px;
height: 76px;
left: 388px;
top: 126px;

filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 24px;

}

.img6{
  position: absolute;
width: 114px;
height: 114px;
left: 240px;
top: 370px;
filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 0px 0px 0px 50px;

}

.img7{
  position: absolute;
width: 182px;
height: 182px;
left: 388px;
top: 236px;

filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 0px 100px 0px 0px;

}

.img8{
  position: absolute;
width: 220px;
height: 220px;
left: 134px;
top: 92px;

filter: drop-shadow(0px 4px 6px rgba(192, 189, 189, 0.25)) drop-shadow(0px 4px 11px rgba(192, 189, 189, 0.25));
border-radius: 100px 0px 0px 0px;

}

///// container-propos ///

.container-propos{

position: absolute;
width: 1920px;
height: 720px;
left: 0px;
top: 858px;

background: #F4F4F4;

/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
}

.container-propos1{

position: absolute;
width: 1514px;
height: 611px;
left: 203px;
top: 10px;
h2{
  position: absolute;
width: 297px;
height: 79.12px;
left: 301px;
top: 108.08px;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 83px;
display: flex;
align-items: center;

color: #000000;

}
p{

position: absolute;
width: 733px;
height: 220.8px;
left: 301px;
top: 217.56px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 135.2%;
/* or 24px */

display: flex;
align-items: center;

color: #000000;
}
    .img9{
      position: absolute;
width: 540px;
height: 357px;
left: 1080px;
top: 86px;

    }

}


//// container-video ///

.container-video{
position: absolute;
width: 1920px;
height: 672.4px;
left: 0px;
top: 1578px;

background: #F4F4F4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* Inside Auto Layout */

flex: none;
order: 2;
flex-grow: 0;
margin: 0px 0px;
background-color: yellow;

}

.img10{
  position: absolute;
width: 568px;
height: 423px;
left: 1137px;
top: 69px;
}

.container-video-title{
   position: absolute;
    width: 367px;
    height: 83px;
    left: 298px;
    top: 103px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 83px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
    }
.container-video-subtitle{
  position: absolute;
  width: 733px;
  height: 240px;
  left: 298px;
  top: 217px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 135.2%;
  /* or 24px */

  display: flex;
  align-items: center;

  color: #000000;


    }


.container-portefolio-home{

  position: absolute;
  width: 1920px;
  height: 1028px;
  left: 0px;
  top: 2250.4px;

  background: #F4F4F4;

  /* Inside Auto Layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0px 0px;
  background-color: red;
  }


  .container-portefolio-home-text{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 922px;
height: 185px;
left: 498px;
top: 98px;
  }

  .container-portefolio-home-title{

    position: static;
width: 922px;
height: 55px;
left: 0px;
top: 0px;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 55px;
// display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 34px 0px;
  }

  .container-video-content{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 1573px;
height: 622px;
left: 171px;
top: 323px;
background-color: brown;
  }


  .card-video1{
    position: absolute;
    left: 0%;
    right: 0.61%;
    top: -0.06%;
    bottom: 53.12%;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
  }

  .card-video2{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
  }

    .card-video3{

      position: absolute;
      left: 0%;
      right: 0%;
      top: -0.06%;
      bottom: 53.12%;

      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
      border-radius: 5px;

    }
